.min-top{
    background-color: #e9464c;
    padding: .2rem;
    height: 1.8rem;
    position: relative;
}
.min-top img{
    width: 1.3rem;
    float: left;
    margin-right:.5rem;
}
.user-mes{
    font-size: .28rem;
    color: #fff;
    margin-right: .4rem;
}
.user-mes li{
    padding-top: .2rem;
}
.min-top i{
    display: block;
    width: .4rem;
    height: .4rem;
    position: absolute;
    right: .2rem;
    top: .2rem;
    background: url("../img/bell.png") no-repeat center;
    background-size: .3rem;
}
.window{
    background: rgba(0, 0, 0, 0.46);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.window-min{
    width: 6rem;
    height: 4rem;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2rem;
    margin-left: -3rem;
    border-radius: .2rem;
}
.window-min .window-message{
    font-size: .28rem;
    text-align: center;
    color: #333;
    margin: 1.2rem 0;
}
.window-button {
    text-align: center;
    font-size: 0;
}
.window-button a{
    font-size: .3rem;
    color: #fff;
    display: inline-block;
    width: 2rem;
    height: .8rem;
    border-radius: 10px;
    text-align: center;
    line-height: .8rem;
    margin: 0 .3rem;
}
.cancel{
    background: #c6c6c6;
}
.sure{
    background: #e90000;
}
.min-top i::after{
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    color: #e90000;
    border: 1px solid #ffdcdc;
    border-radius: 50%;
    position: absolute;
    right: -1px;
    top: 2px;
}
.user-date{
    padding: .17rem;
    background: #fff;
    height: 1.3rem;
    overflow: hidden;
}
.date-item{
    color: #e90000;
    font-size: .36rem;
    float: left;
    width: 50%;
    text-align: center;
    margin-top: .13rem;
    position: relative;
}
.date-icon{
    color: #333333;
    font-size: .26rem;
    margin-top: .1rem;
}
.date-icon i{
    display: inline-block;
    width: .4rem;
    height: .4rem;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: .1rem;
    vertical-align: middle;
}
.date-icon span{
    vertical-align: middle;
}
.date-num i{
    background-image: url('../img/integral.png');
}
.date-money i{
    background-image: url('../img/wallet.png');
}
.date-num::after{
    content: '';
    display: block;
    height: 100%;
    width: 1px;
    position: absolute;
    background: #eee;
    right: 0;
    top: 0;
}
.my-order{
    background: #fff;
    margin: .25rem 0;
}
.my-order .order-title{
    color: #333;
    font-size: .3rem;
    height: 1rem;
    line-height: 1rem;
    border-bottom: 1px solid #dfdfdf;
    padding: 0 .25rem;
}
.my-order .order-title img{
    display: inline-block;
    width: .15rem;
}
.my-order .order-title a{
    float: right;
    color: #999999;
    font-size: .24rem;
}
.order-item{
    font-size: 0;
    padding: .3rem 0;
}
.my-order li{
    display: inline-block;
    width: 20%;
    text-align: center;
}
.my-order li a{
    color: #666666;
    font-size: .26rem;
    display: block;
    position: relative;
}
.order-item .item-2 i{
    position: absolute;
    right: .22rem;
    top: -.2rem;
    border: 2px solid #e90000;
    color: #e90000;
    border-radius: 50%;
    display: block;
    width: .3rem;
    height: .3rem;
    font-size: .14rem;
    line-height: .33rem;
}
.my-order li img{
    display: block;
    margin: 0 auto .1rem auto;

}
.order-item .item-1 img{
    width: .4rem;
}
.order-item .item-2 img{
    width: .36rem;
}
.order-item .item-3 img{
    width: .43rem;
}
.order-item .item-4 img{
    width: .3rem;
}
.order-item .item-5 img{
    width: .4rem;
}
.sept-list{
    margin-bottom: .25rem;
    background: #fff;
    padding: 0 .25rem;
}
.sept-list li{
    border-bottom: 1px solid #dfdfdf;
    height: 1rem;
    line-height: 1rem;
}
.sept-list li a{
    font-size: .3rem;
    color: #333;
    display: block;
}
.sept-list img{
    display: inline-block;
    vertical-align: middle;
    margin-right: .15rem;
}
.sept-list li a i{
    float: right;
    color: #999;
}
.sept-list li a i img{
    display: inline-block;
    width: .15rem;
    margin: 0;
}
.sept-1 img{
    width: .3rem;
}
.sept-2 img{
    width: .4rem;
}
.sept-3 img{
    width: .33rem;
}
.sept-4 img{
    width: .44rem;
}
.sept-4,.sept-8{
    border-bottom: none!important;
}
.sept-5 img{
    width: .4rem;
}
.sept-6 img{
    width: .35rem;
}
.sept-7 img{
    width: .34rem;
}
.sept-8 img{
    width: .36rem;
}
.sept-6 span{
    float: right;
    color: #333;
}
.footer{
    background: #fff;
    font-size: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.23);
    padding: .1rem 0;
    z-index: 2;
}
.footer li{
    width: 20%;
    display: inline-block;
    text-align: center;
}
.footer li a{
    display: block;
    font-size: .22rem;
    color: #666666;
    position: relative;
}
.footer li img{
    display: block;
    margin: 0 auto .1rem auto;
}
.footer .item-1 img{
    width: .45rem;
}
.footer .item-2 img{
    width: .42rem;
}
.footer .item-3 img{
    width: .44rem;
}
.footer .item-4 img{
    width: .40rem;
}
.footer .item-5 img{
    width: .38rem;
}
.item-tips i{
    position: absolute;
    right: .25rem;
    top: -.1rem;
    background: #e90000;
    border-radius: .4rem;
    display: block;
    color: #fff;
    font-size: .14rem;
    height: .2rem;
    padding: 0 .1rem;
    line-height: .21rem;
}
/**订单**/
.go-back{
    height: 1rem;
    line-height: 1rem;
    background: #e9464c;
    text-align: center;
    font-size: .36rem;
    color: #fff;
    padding: 0 .25rem;
    overflow: hidden;
}
.go-back i{
    float: left;
    height: 1rem;
}
.go-back i img{
    width: .29rem;
    margin-top: .3rem;
}
.order-type{
    height: .8rem;
    background: #fff;
    border-bottom: 1px solid #eee;
    overflow-x: scroll;
    overflow-y: hidden;
    font-size: 0;
    white-space: nowrap;
}
.order-type li{
    font-size: .3rem;
    color: #333333;
    text-align: center;
    display: inline-block;
    text-align: center;
    line-height: .75rem;
    width: 1.5rem;
}
.order-type .active{
    color: #e9464c;
}
.order-type .active span{
    display: inline-block;
    border-bottom: 2px solid #ea454c;
    padding: 0 .1rem;
}
.goods-item{
    background: #fff;
    margin-top: .2rem;
}
.goods-item .goods-top{
    height: .8rem;
    line-height: .8rem;
    font-size: .28rem;
    color: #333333;
    border-bottom: 1px solid #eee;
    padding: 0 .2rem;
}
.goods-item .goods-top span{
    float: right;
}
.goods-item .ending-tui{
    color: #666;
}
.goods-item .paying{
    color: #ea454c;
}
.goods-img {
    padding: .2rem;
    border-bottom: 1px solid #eee;
}
.goods-img li img{
    width: 1.4rem;
    height: 1.4rem;
    border: 1px solid #eee;
    border-radius: 10px;
}
.goods-img ul{
    display: inline-block; 
    font-size: 0;
}
.goods-img ul li{
    display: inline-block;
    margin-right: .2rem;
}
.all-num{
    float: right;
    font-size: .28rem;
    color: #333;
    height: 1.4rem;
    line-height: 1.4rem;
}
.all-num img{
    width: .15rem;
}
.all-money{
    font-size: .28rem;
    color: #333333;
    height: .8rem;
    line-height: .8rem;
    padding-left: .2rem;
}
.all-money a{
    float: right;
    height: .5rem;
    line-height: .5rem;
    padding: 0 .1rem;
    border-radius: 5px;
    margin-top: .15rem;
    display: block;
    width: 1.3rem;
    text-align: center;
    margin-right: .2rem;
}
.delete{
    color: #666;
    border: 1px solid #d7d7d7;
}
.pay_buttom{
    color: #fff;
    display: block;
    border: 1px solid #e9464d;
    background: #e9464d;
}
.sales-item{
    margin-top:.2rem;
    background: #fff;
    padding: .2rem .2rem 0 .2rem;
}
.sales-num{
    font-size: .28rem;
    color: #333333;
}
.sales-time{
    font-size: .24rem;
    color: #666666;
}
.sales-top span{
    font-size: .28rem;
    float: right;
    color: #666;
    line-height: .8rem;
}
.sales-top .ending-tui{
    color: #fb5f1b;
}
.sales-top{
    height: .8rem;
    border-bottom: 1px solid #eee;
}
.sales-message{
    line-height: .4rem;
    float: left;
}
.list-item{
    padding: .2rem 0;
    height: 2rem;
}
.list-item img{
    width: 2rem;
    height: 2rem;
    border: 1px solid #eee;
    border-radius: 10px;
    float: left;
    margin-right: .2rem;
}
.sales-right .sales-title, .sales-pic{
    font-size: .3rem;
    color: #333;
    margin-bottom: .2rem;
}
.sales-right{
    margin-left: 2.2rem;
}
.sales-right .sales-pic span i{
    color: #e90000;
}
.sales-right .sales-num i{
    color: #e90000;
}
.sales-right .sales-pic em,.sales-right .sales-num em{
    float: right;
}
/**订单详情**/
.order-address{
    background: #fff;
    padding: .25rem .25rem 0 .25rem
}
.choose-type{
    font-size: .3rem;
    color: #333;
    line-height: .6rem;
}
.address-detail{
    font-size: .28rem;
    color: #333;
}
.choose-type img{
    width: .22rem;
    margin-right: .13rem;
}
.detail-address{
    padding-left: .35rem;
    line-height: .4rem;
    border-bottom: 1px solid #eee;
    padding-bottom: .1rem;
}
.address-step{
    padding: .1rem 0;
}
.list_message li{
    line-height: .88rem;
    border-bottom: 1px solid #eee;
    color: #333;
}
.address-step span{
    padding: .1rem .2rem;
    line-height: .4rem;
    margin-top: .1rem;
}
.address-step .ready-pay{
    color: #fb5f1b;
    border: 1px solid #fb5f1b;
    border-radius: .4rem;
}
.list_message em{
    float: right;
}
.list_message em i{
    color: #e90000;
}
.list_message p{
    float: right;
    color:#666;
}
.order-sales{
    padding: 0 .2rem;
    background: #fff;
    margin: .2rem 0;
}
.order-sales .sales-num i{
    color: #fb5f1b;
}
.order-sales .list-item{
    border-bottom: 1px solid #eee;
}
.order-sales li:nth-last-of-type(1){
    border: none;
}
.pay-order{
    font-size: .28rem;
    color: #333;
    background: #fff;
    padding: .2rem;
    margin-bottom: 1.5rem;
}
.pay-order li{
    line-height: .6rem;
}
.pay-order li span{
    float: right;
}
.pay-order ul{
    border-bottom: 1px solid #eee;
}
.order-money{
    line-height: .84rem;
    font-size: .3rem;
    color: #333;
}
.order-money span{
    float: right;
    color: #eb2a2a;
}
.pay-button{
    height: 1rem;
    background: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
    line-height: 1rem;
    font-size: .36rem;
}
.order-pay{
    float: right;
    color: #fff;
    background: #e9464c;
    display: block;
    width: 3.2rem;
    text-align: center;
}
.order-delete{
    float: right;
    display: inline-block;
    width: 1.5rem;
    height: .6rem;
    font-size: .26rem;
    line-height: .61rem;
    margin: .2rem;
    border: 1px solid #eee;
    border-radius: 10px;
    margin-left: 0;
    color: #333333;
    text-align: center;
}
.jifen-pay{
    color: #fff;
    background: #e9464c;
    display: block;
    width: 100%;
    text-align: center;
}
.jifen-list li:nth-last-of-type(1) {
    border-bottom: 1px solid #eee;
}
.quxiao{
    margin: 1rem 0!important;
}
.quxiao p{
    font-size: .24rem;
    color: #666;
    margin-top: .2rem;
}
/**个人资料**/
.change-img{
    background: #fff;
    text-align: center;
}
.change-img img{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    display: block;
    padding: .4rem 0;
    margin: auto;
}
.change-list{
    padding: 0 .24rem;
    background: #fff;
}
.change-list .change-item{
    font-size: .3rem;
    color: #333;
    line-height: .88rem;
    border-top: 1px solid #eee;
}
.change-list .change-item em{
    float: right;
    color: #999;
}
.change-list .change-item img{
    width: .16rem;
    display: inline-block;
    margin-left: .1rem;
}
.change-list .change-item input{
    width: 80%;
    text-align: right;
    float: right;
    border: none;
}
.change-from {
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #e6e6e6;
}
.change-from li{
    line-height: 1rem;
    text-align: center;
    color: #000;
    font-size: .36rem;
    background: #fff;
    margin-top: .2rem;
}
.weui-picker__item{
    font-size: .3rem;
}
/*关于我们*/
.about-us {
    padding: .4rem;
}
.about-us img{
    width: 70%;
    display: block;
    margin: .2rem auto;
}
.about-us p{
    font-size: .28rem;
    color: #333333;
    line-height: .4rem;
    text-indent: 30px;
}
/**联系我们**/
.content-us{
    background: #fff;
    padding: .25rem;
}
.content-item {
    padding-bottom: .8rem;
}
.content-item img{
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    padding: .2rem;
    background: #eee;
    margin: .85rem auto 0 auto;
}
.content-item  p{
    margin-top: .2rem;
    text-align: center;
    font-size: .3rem;
    color: #333;
}
.content-item div{
    width: 3.6rem;
    margin: auto;
    text-align: center;
    font-size: .3rem;
    color: #333;
    line-height: .75rem;
}
.content-item div span{
    display: block;
    text-align: center;
    color: #666;
}
.content-item  .content-phone{
    margin-top: .48rem;
    border-bottom: 1px solid #eee;
}
.choose-qu{
    font-size: .3rem;
    color: #333;
    background: #fff;
}
.choose-qu li{
    padding: 0 .2rem;
}
.choose-qu li:nth-last-child(1){
    border: none!important;
}
.choose-qu .active{
    color: #fb5f1b;
    background: url('../img/choose.png') no-repeat right;
    background-size: .4rem .4rem;
    margin-right: .2rem;
}
.write-addrss{
    font-size: .3rem;
    color: #333;
    background: #fff;
}
.write-addrss li{
    line-height: .88rem;
    border-bottom: 1px solid #eee;
    color: #333;
    padding: 0 .2rem;
    height: .88rem;
}
.write-addrss li input{
    background: #fff;
    height: .88rem;
    line-height: .88rem;
    border: none;
    float: right;
    width: 80%;
    text-align: right;
    color:#666;
}
.write-addrss li em{
    float: right;
    color:#666;
}
.write-addrss li em img{
    width: .14rem;
    margin-left: .1rem;
}
.sure-write{
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: .36rem;
    color: #fff;
    background: #e9464c;
    width: 100%;
    position: fixed;
    z-index: 2;
    bottom: 0;
}
.set-list{
    background: #f5f5f5;
}
.set-list li{
    background: #fff;
    margin-top: .2rem;
}
.set-list li em{
    color: #999;
}
.set-list li i{
    font-size: #666;
    color: #666;
}
.get-out{
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: .36rem;
    color: #fff;
    background: #e9464c;
    width: 95%;
    border-radius: 5px;
    display: block;
    margin: .6rem auto;
}
.no-address{
    font-size: .28rem;
    color: #040000;
    text-align: center;
    margin-top:1.6rem; 
}
.choose-address li{
    font-size: .3rem;
    background: #fff;
    padding: .25rem .4rem .25rem .25rem ;
    color: #333;
    margin-bottom: .2rem;
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: .4rem .4rem;
    background-image: url('../img/zoo.png');
}
.choose-address li div{
    line-height: .5rem;
}
.choose-address span{
    margin-right: .2rem;
}
.choose-address .active{
    background-image: url('../img/choose.png');
}
.address-warm{
    background: #f18282;
    color: #fff;
    font-size: .24rem;
    padding-left: 15%;
    background-image: url('../img/gan.png');
    background-size: .4rem;
    background-repeat: no-repeat;
    height: 1rem;
    background-position: 5% center;
}
.address-warm p{
    width: 85%;
    padding-top: .2rem;
    display: inline-block;
}
.address-warm i{
    display: block;
    background: url('../img/x.png') center no-repeat;
    background-size: .3rem;
    width: 15%;
    height: 100%;
    float: right;
}
.guan-address li{
    font-size: .3rem;
    background: #fff;
    padding: .25rem .4rem .25rem .25rem ;
    color: #333;
    margin-bottom: .2rem;
}
.guan-address li div{
    line-height: .5rem;
}
.guan-address span{
    margin-right: .2rem;
}
